
<br>
<br>


      <!-- //////////////////////////// -->
      <div class="col">
        <div class="card h-100 shadow-sm" style="width: 25rem">

          <div class="card-header"><img class="imgsize"
              src="{{selected.tokenLocation}}"/>
          </div>
          <div>


          </div>
          <div class="card-body">

            <h1>Token Id :</h1>
            <h1>{{selected.id}}</h1>
            <h2>Token Name :</h2>
            <h2>{{selected.name}}</h2>
            <h2>Current Price: </h2>
           <h2>${{selected.price}}</h2>

            </div><br>


            <!--  -->
            <div class="card-body" *ngIf="bidOpen">
              <h1>Offer Expiration</h1>
              <div>

                <form action="/action_page.php">
                  <label for="offerExp">Date and Time:</label>
                  <input type="datetime-local" id="offerExp" name="offerExp" [(ngModel)]="newBid.bidDate" placeholder=""/>
                </form>

              </div><br>
              <h1 class="card-title">Offer Price:</h1><br>
              <h1 class="card-title"><input type="number" id="offerPrice" name="offerPrice" [(ngModel)]="newBid.offerAmount" placeholder="$6420" size="30"></h1>
              <br>
              <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a> Of VioletMarketplace's Bidding Policy</label>
              </div>
            </div>
            <!--  -->
          <div class="card-footer" *ngIf="loggedIn()">
            <div class="text-center my-4">

              <button (click)="[toggleBidInfo()]" *ngIf="!bidOpen" class="btn btn-primary" style="border-radius: 12px">Make Bid</button>
              <button (click)="[createBid(newBid)]" *ngIf="bidOpen" class="btn btn-primary" >
              Bid
              </button>


                <button class="btn btn-primary" *ngIf="bidOpen" (click)="toggleBidInfo()" style="border-radius: 12px" >
                Close
                </button>

              <button class="btn btn-primary" style="border-radius: 12px" *ngIf="!bidOpen" routerLink='/buy'>
               Buy
                </button>
            </div>
          </div>

            <div class="card-footer" *ngIf="!loggedIn()">
              <div class="text-center my-4">

                <button class="btn btn-primary" (click)="openModal(login)" style="border-radius: 12px" >
                Login
                </button>

                <button class="btn btn-primary" style="border-radius: 12px" (click)="openModal(register)">
                 Register
                </button>

              </div>

          </div>

</div>


<!-- //////////////////////////// -->
<h1>TRANSACTIONS TABLE</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>description</th>
    <th>Offer Amount</th>
    <th>Owner</th>
    <th>token</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let transaction of tokenTransactions">
    <td>{{ transaction.id }}</td>
    <td>{{ transaction.description }}</td>
    <td>{{ transaction.buyer.displayName }}</td>
    <td>{{ transaction.seller.displayName }}</td>
    <td>{{ transaction.token.name }}</td>

  </tr>
</tbody>
</table>



<h1>BIDS TABLE</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>description</th>
    <th>buyer name</th>
    <th>seller name</th>
    <th>token name</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let bid of bids">
    <td>{{ bid.id }}</td>
    <td>{{ bid.description }}</td>
    <td>{{ bid.buyer.displayName }}</td>
    <td>{{ bid.seller.displayName }}</td>
    <td>{{ bid.token.name }}</td>

  </tr>
</tbody>
</table>


<ng-template #login>
  <app-login></app-login>
</ng-template>

<ng-template #register>
  <app-register></app-register>
</ng-template>


<form *ngIf="showForm">
  <div class="form-group">
    <label for="name">New NFT's Name</label>
    <input type="text" class="form-control" id="id" placeholder="name" name="name" [(ngModel)]="newToken.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Description" name="description" [(ngModel)]="newToken.description">
  </div>
  <div class="form-group">
    <label for="rarity">Rarity</label>
    <input type="text" class="form-control" id="rarity" placeholder="Rarity" name="rarity" [(ngModel)]="newToken.rarity">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" placeholder="0" name="price" [(ngModel)]="newToken.price">
  </div>
  <div class="form-group">
    <label for="releaseDate">Releases On </label>
    <input type="date" class="form-control" id="releaseDate" placeholder="" name="releaseDate" [(ngModel)]="newToken.releaseDate">
  </div>
  <div class="form-group">
    <label for="tokenLocation">Image URL</label>
    <input type="url" class="form-control" id="tokenLocation" placeholder="" name="tokenLocation" [(ngModel)]="newToken.tokenLocation">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn-success btn-md" (click)="createToken(newToken)">Create New NFT</button>
</form>

<button type="submit" class="btn btn-primary" (click)="toggleShowInfo">Create NFT</button>


